@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.app-router-container {
  height: 99vh;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  background-color: rgb(20, 20, 20);
}

.add-animation {
  transition: 0.5s;
}
.add-animation:hover {
  transform: scale(1.1);
}
